<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">

    <div id="modernCarousel" class="slide modern-slider w-100">



        <div class="slider-wrapper shadow-sm rounded-4 p-2 bg-white mx-auto mt-4" style="max-width: 900px;">

            <div id="modernCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="image-box border border-primary border-1 rounded-3 overflow-hidden"
                            style="height: 450px;">
                            <img [src]="images[currentIndex]?.src" class="w-100 h-100 object-fit-cover"
                                alt="Slide Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="custom-controls mt-4 d-flex gap-3 justify-content-center">

                <button class="control-btn" title="Previous" (click)="prev()">
                    <i class="fa-solid fa-chevron-left"></i>

                </button>
                <button class="control-btn pause-btn" title="Stop" (click)="stop()">
                    <i class="fa-solid fa-pause"></i>
                </button>

                <button class="control-btn play-btn" title="Play" (click)="play()">
                    <i class="fa-solid fa-play"></i>
                </button>


                <button class="control-btn" title="Next" (click)="next()">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>


            </div>

        </div>

    </div>